<div class="container">
    
    <!-- <br/>
    <br/> -->

    <div *ngIf="accessToken==='null' && mensaje===null">

        <div class="alert alert-primary" role="alert">
            ¡Regístrate!
        </div>

        <div *ngIf="mensajeError!==null">
            <div class="alert alert-danger" role="alert">
                {{ mensajeError }}
            </div>
        </div>


        <form (submit)="getValues()">
            <div *ngIf="!passCorrect">  
                <div class="alert alert-danger" role="alert">
                    Las contraseñas no coinciden.      
                </div>
            </div>


            <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Dirección Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" [(ngModel)]="email">
            <div id="emailHelp" class="form-text">Nunca compartiremos tu Email con nadie más.</div>
            </div>
            <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password" [(ngModel)]="password">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Confirmar Contraseña</label>
                <input type="password" class="form-control" id="exampleInputPassword2" name="password" [(ngModel)]="password2">
                </div>
            <div class="espacio">
                
                <button type="submit" class="btn btn-danger">Registrarse</button>
            </div>
        </form>
    </div>
    <div *ngIf="mensaje!==null">
        <div class="alert alert-success" role="alert">
            {{ mensaje }}
        </div>

    </div>

    


    <div *ngIf="accessToken!=='null'">
        <app-account></app-account>
    </div>
</div>