
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['home']">OnlyPans</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['home']">Home</a>
          <a class="nav-link" routerLinkActive="active" [routerLink]="['productos']">Productos</a>
          <a class="nav-link" routerLinkActive="active" [routerLink]="['login']">Cuenta</a>
          
          <!-- <a class="nav-link" [routerLink]="['cuenta']">Cuenta</a> -->
        </div>
      </div>
    </div>
  </nav>