.navbar{
    height: 90px;
    padding-left: 70px;
    padding-right: 40px;
}

.navbar-brand{
    font-size: 40px;
    font-family: 'Lobster', cursive;
    
}

.nav-link{
    font-size: 20px;
    font-family: 'Fira Code', sans-serif;
}
